[package]
name = "dxr_server"
description = "Declarative XML-RPC (server implementation)"
license = "MIT OR Apache-2.0"

version = "0.5.2"
edition = "2021"
rust-version = "1.63.0"

authors = ["Fabio Valentini <decathorpe@gmail.com>"]
categories = ["network-programming", "web-programming::http-client", "encoding"]
keywords = ["XML-RPC", "server"]
repository = "https://github.com/ironthree/dxr"

[dependencies]
async-trait = "0.1.53"
dxr_shared = { path = "../dxr_shared", version = "0.5.2" }
http = "0.2.6"
quick-xml = { version = "0.25" , features = ["serialize"] }

[features]
# support non-standard <i8> XML-RPC values
i8 = ["dxr_shared/i8"]
# support non-standard <nil> XML-RPC values
nil = ["dxr_shared/nil"]

[package.metadata.docs.rs]
all-features = true
